In [1]:
### This file runs different models and tries to figure out which classifier outperforms the task.
### Also does data processing to send in the right data into the model.

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree
import xgboost
from sklearn.model_selection import train_test_split

In [3]:
path0 = "../../data/sad test_25.12.19_20.39.40.md.pm.bp.csv"
path1 = "../../data/Test 1_25.12.19_20.33.54.md.bp.csv"

In [4]:
data0 = pd.read_csv(path0)
data1 = pd.read_csv(path1)

In [5]:
def set_classifier(end, val):
    data = []
    for i in range(0, end):
        data.append(val)
    return np.array(data)

In [6]:
end0 = len(data0.iloc[:,1])
end1 = len(data1.iloc[:,1])

In [7]:
y0 = set_classifier(end0, 0)
y1 = set_classifier(end1, 1)
if(len(y0) < len(y1)):
    y1 = y1[0:len(y0)]
elif(len(y0) > len(y1)):
    y0 = y0[0:len(y1)]

In [8]:
data0.head()

,Timestamp,EEG.Counter,EEG.Interpolated,EEG.AF3,EEG.T7,EEG.Pz,EEG.T8,EEG.AF4,EEG.RawCq,EEG.Battery,...,POW.T8.Theta,POW.T8.Alpha,POW.T8.BetaL,POW.T8.BetaH,POW.T8.Gamma,POW.AF4.Theta,POW.AF4.Alpha,POW.AF4.BetaL,POW.AF4.BetaH,POW.AF4.Gamma
0,1577295581,122,0,4359.487305,4240.512695,4826.153809,4475.384766,4537.948730,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1577295581,123,0,4591.282227,4428.205078,2386.666748,3925.641113,4133.846191,16171,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577295581,124,0,3852.307617,3799.487061,2505.128174,3118.461426,3349.230713,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577295581,125,0,4070.769287,4015.384521,5077.436035,4198.974121,4233.846191,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577295581,126,0,4456.410156,4318.461426,4151.794922,4366.153809,4440.000000,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data1.head()

,Timestamp,EEG.Counter,EEG.Interpolated,EEG.AF3,EEG.T7,EEG.Pz,EEG.T8,EEG.AF4,EEG.RawCq,EEG.Battery,...,POW.T8.Theta,POW.T8.Alpha,POW.T8.BetaL,POW.T8.BetaH,POW.T8.Gamma,POW.AF4.Theta,POW.AF4.Alpha,POW.AF4.BetaL,POW.AF4.BetaH,POW.AF4.Gamma
0,1577295234,96,0,4285.128418,4310.769043,4112.820313,4102.563965,4174.358887,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1577295234,97,0,4295.384766,4318.461426,4207.179688,4112.820313,4192.820313,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577295234,98,0,4269.230957,4296.922852,4225.641113,4126.666504,4177.948730,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577295234,99,0,4262.051270,4292.820313,4226.666504,4129.230957,4162.563965,16137,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577295234,100,0,4273.333496,4301.025879,4203.077148,4101.025879,4160.000000,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
X0 = np.array(data0.iloc[:,3:8])
X1 = np.array(data1.iloc[:,3:8])
if(len(X0) < len(X1)):
    X1 = X1[0:len(X0)]
elif(len(X0) > len(X1)):
    X0 = X0[0:len(X1)]

In [11]:
X = np.array([X0, X1])

In [12]:
y = np.array([y0, y1])

In [13]:
def arrange_X_Y(XX, yy):
    DSP = []
    for i in range(len(XX)):
        for j in range(len(XX[i])):
            t = list(XX[i][j])
            t.append(yy[i][j])
            DSP.append(t)
    return DSP

In [14]:
ref = arrange_X_Y(X,y)

In [15]:
df = pd.DataFrame(data=ref, columns=["EEG.AF3","EEG.T7","EEG.Pz","EEG.T8","EEG.AF4", "Result"])

In [16]:
df.head()

       EEG.AF3       EEG.T7       EEG.Pz       EEG.T8      EEG.AF4  Result
0  4359.487305  4240.512695  4826.153809  4475.384766  4537.948730       0
1  4591.282227  4428.205078  2386.666748  3925.641113  4133.846191       0
2  3852.307617  3799.487061  2505.128174  3118.461426  3349.230713       0
3  4070.769287  4015.384521  5077.436035  4198.974121  4233.846191       0
4  4456.410156  4318.461426  4151.794922  4366.153809  4440.000000       0

In [17]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

       EEG.AF3       EEG.T7       EEG.Pz       EEG.T8      EEG.AF4  Result
0  4221.025879  4251.794922  4141.025879  4137.436035  4226.666504       1
1  4274.871582  3889.230713  4156.410156  4132.307617  4233.846191       0
2  4220.000000  4201.025879  4170.256348  4138.974121  4207.179688       0
3  4282.563965  4300.000000  4036.410156  4127.179688  4252.820313       1
4  4202.563965  4258.974121  4133.333496  4110.256348  4174.871582       1

In [18]:
X_fin = np.array(df.iloc[:,:-1])
y_fin = np.array(df.iloc[:,-1])

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X_fin, y_fin, test_size=0.3, shuffle=True)

In [20]:
## Classifiers...

In [21]:
classifiers = []
model1 = xgboost.XGBClassifier()
classifiers.append(model1)
model2 = svm.SVC()
classifiers.append(model2)
model3 = tree.DecisionTreeClassifier()
classifiers.append(model3)
model4 = RandomForestClassifier()
classifiers.append(model4)

In [22]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    print("Accuracy of %s is %s\n"%(type(clf), acc))
    cm = confusion_matrix(y_test, y_pred)
    print("Confusion Matrix of %s is %s\n"%(type(clf), cm))

Accuracy of <class 'xgboost.sklearn.XGBClassifier'> is 0.9363261566651397

Confusion Matrix of <class 'xgboost.sklearn.XGBClassifier'> is [[ 987  116]
 [  23 1057]]

C:\Users\qasim\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Accuracy of <class 'sklearn.svm.classes.SVC'> is 0.4979386165826844

Confusion Matrix of <class 'sklearn.svm.classes.SVC'> is [[   8 1095]
 [   1 1079]]

Accuracy of <class 'sklearn.tree.tree.DecisionTreeClassifier'> is 0.8978469995419148

Confusion Matrix of <class 'sklearn.tree.tree.DecisionTreeClassifier'> is [[996 107]
 [116 964]]

Accuracy of <class 'sklearn.ensemble.forest.RandomForestClassifier'> is 0.9303710490151168

Confusion Matrix of <class 'sklearn.ensemble.forest.RandomForestClassifier'> is [[1006   97]
 [  55 1025]]

C:\Users\qasim\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [23]:
## Therefore, the classifier with the best result is the boosting classifier, xgBoost.

In [24]:
accuracy_score(y_train, model2.predict(X_train))

1.0

In [25]:
accuracy_score(y_test, model3.predict(X_test))

0.8978469995419148

In [26]:
dxt = [4359.487305,4240.512695,4826.153809,4475.384766,4537.948730]

In [27]:
model1.predict(dxt)

array([1], dtype=int64)

In [28]:
model4.predict(X_train)

array([0, 1, 1, ..., 1, 0, 0], dtype=int64)

In [29]:
path_test = "../../data/sad_2_26.12.19_11.15.26.md.bp.csv"
data_Test = pd.read_csv(path_test)

In [30]:
end_test = len(data_Test.iloc[:,1])

In [31]:
X_new_sample_Test = np.array(data_Test.iloc[:,3:8])

In [32]:
results = model1.predict(X_new_sample_Test)[:len(y0)]

In [33]:
print(accuracy_score(y1, results))

0.04041792686279901

In [34]:
print(accuracy_score(y0, results))

0.959582073137201

In [35]:
path_test_sample = "../../data/test_sample_1_26.12.19_11.56.29.md.bp.csv"
data_Happy = pd.read_csv(path_test_sample)
end_Happy = len(data_Happy.iloc[:,1])
X_happy_sample_test = np.array(data_Happy.iloc[:,3:8])
results_happy = model1.predict(X_happy_sample_test)[:len(y0)]

In [36]:
print(accuracy_score(y0, results_happy))

0.5655760241957657

In [ ]:
path_test_sample = "../../data/8-Love/love_i.csv"
data_Happy = pd.read_csv(path_test_sample)
end_Happy = len(data_Happy.iloc[:,1])
X_happy_sample_test = np.array(data_Happy.iloc[:,3:8])
results_happy = model1.predict(X_happy_sample_test)[:len(y0)]