In [1]:
### This file runs different models and tries to figure out which classifier outperforms the task.
### Also does data processing to send in the right data into the model.

In [191]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree
import xgboost
from sklearn.model_selection import train_test_split

In [101]:
path0 = "../../data/sad test_25.12.19_20.39.40.md.pm.bp.csv"
path1 = "../../data/Test 1_25.12.19_20.33.54.md.bp.csv"

In [102]:
data0 = pd.read_csv(path0)
data1 = pd.read_csv(path1)

In [103]:
def set_classifier(end, val):
    data = []
    for i in range(0, end):
        data.append(val)
    return np.array(data)

In [104]:
end0 = len(data0.iloc[:,1])
end1 = len(data1.iloc[:,1])

In [105]:
y0 = set_classifier(end0, 0)
y1 = set_classifier(end1, 1)
if(len(y0) < len(y1)):
    y1 = y1[0:len(y0)]
elif(len(y0) > len(y1)):
    y0 = y0[0:len(y1)]

In [106]:
data0.head()

,Timestamp,EEG.Counter,EEG.Interpolated,EEG.AF3,EEG.T7,EEG.Pz,EEG.T8,EEG.AF4,EEG.RawCq,EEG.Battery,...,POW.T8.Theta,POW.T8.Alpha,POW.T8.BetaL,POW.T8.BetaH,POW.T8.Gamma,POW.AF4.Theta,POW.AF4.Alpha,POW.AF4.BetaL,POW.AF4.BetaH,POW.AF4.Gamma
0,1577295581,122,0,4359.487305,4240.512695,4826.153809,4475.384766,4537.948730,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1577295581,123,0,4591.282227,4428.205078,2386.666748,3925.641113,4133.846191,16171,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577295581,124,0,3852.307617,3799.487061,2505.128174,3118.461426,3349.230713,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577295581,125,0,4070.769287,4015.384521,5077.436035,4198.974121,4233.846191,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577295581,126,0,4456.410156,4318.461426,4151.794922,4366.153809,4440.000000,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
data1.head()

,Timestamp,EEG.Counter,EEG.Interpolated,EEG.AF3,EEG.T7,EEG.Pz,EEG.T8,EEG.AF4,EEG.RawCq,EEG.Battery,...,POW.T8.Theta,POW.T8.Alpha,POW.T8.BetaL,POW.T8.BetaH,POW.T8.Gamma,POW.AF4.Theta,POW.AF4.Alpha,POW.AF4.BetaL,POW.AF4.BetaH,POW.AF4.Gamma
0,1577295234,96,0,4285.128418,4310.769043,4112.820313,4102.563965,4174.358887,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1577295234,97,0,4295.384766,4318.461426,4207.179688,4112.820313,4192.820313,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577295234,98,0,4269.230957,4296.922852,4225.641113,4126.666504,4177.948730,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577295234,99,0,4262.051270,4292.820313,4226.666504,4129.230957,4162.563965,16137,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577295234,100,0,4273.333496,4301.025879,4203.077148,4101.025879,4160.000000,450,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
X0 = np.array(data0.iloc[:,3:8])
X1 = np.array(data_LOVE.iloc[:,3:8])
if(len(X0) < len(X1)):
    X1 = X1[0:len(X0)]
elif(len(X0) > len(X1)):
    X0 = X0[0:len(X1)]

In [145]:
X = np.array([X0, X1])

In [146]:
y = np.array([y0, y1])

In [147]:
X0[:1], X1[:1]

(array([[4359.487305, 4240.512695, 4826.153809, 4475.384766, 4537.94873 ]]),
 array([[3638.461426, 4454.871582, 4190.769043, 3653.333252, 4160.512695]]))

In [148]:
def arrange_X_Y(XX, yy):
    DSP = []
    for i in range(len(XX)):
        for j in range(len(XX[i])):
            t = list(XX[i][j])
            t.append(yy[i][j])
            DSP.append(t)
    return DSP

In [149]:
ref = arrange_X_Y(X,y)

In [150]:
df = pd.DataFrame(data=ref, columns=["EEG.AF3","EEG.T7","EEG.Pz","EEG.T8","EEG.AF4", "Result"])

In [151]:
df.head()

       EEG.AF3       EEG.T7       EEG.Pz       EEG.T8      EEG.AF4  Result
0  4359.487305  4240.512695  4826.153809  4475.384766  4537.948730       0
1  4591.282227  4428.205078  2386.666748  3925.641113  4133.846191       0
2  3852.307617  3799.487061  2505.128174  3118.461426  3349.230713       0
3  4070.769287  4015.384521  5077.436035  4198.974121  4233.846191       0
4  4456.410156  4318.461426  4151.794922  4366.153809  4440.000000       0

In [152]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

       EEG.AF3       EEG.T7       EEG.Pz       EEG.T8      EEG.AF4  Result
0  4221.025879  4498.974121  4170.769043  4135.384766  4160.512695       1
1  4238.461426  3982.051270  4170.256348  4131.282227  4218.461426       0
2  4280.000000  4473.846191  4193.333496  4157.436035  4226.666504       1
3  4055.384521  4377.948730  4070.256348  4070.769287  4041.538574       0
4  4112.820313  4440.512695  4002.051270  4092.307617  4051.794922       0

In [153]:
X_fin = np.array(df.iloc[:,:-1])
y_fin = np.array(df.iloc[:,-1])

In [154]:
X_train, X_test, y_train, y_test = train_test_split(X_fin, y_fin, test_size=0.3, shuffle=True)

In [155]:
## Classifiers...

In [156]:
classifiers = []
model1 = xgboost.XGBClassifier()
classifiers.append(model1)
model2 = svm.SVC()
classifiers.append(model2)
model3 = tree.DecisionTreeClassifier()
classifiers.append(model3)
model4 = RandomForestClassifier()
classifiers.append(model4)

In [158]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    print("Accuracy of %s is %s\n"%(type(clf), acc))
    cm = confusion_matrix(y_test, y_pred)
    print("Confusion Matrix of %s is %s\n"%(type(clf), cm))

Accuracy of <class 'xgboost.sklearn.XGBClassifier'> is 0.9711406321575813

Confusion Matrix of <class 'xgboost.sklearn.XGBClassifier'> is [[1042   54]
 [   9 1078]]

C:\Users\qasim\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Accuracy of <class 'sklearn.svm.classes.SVC'> is 0.5016032982134677

Confusion Matrix of <class 'sklearn.svm.classes.SVC'> is [[   8 1088]
 [   0 1087]]

Accuracy of <class 'sklearn.tree.tree.DecisionTreeClassifier'> is 0.9560238204306001

Confusion Matrix of <class 'sklearn.tree.tree.DecisionTreeClassifier'> is [[1047   49]
 [  47 1040]]

Accuracy of <class 'sklearn.ensemble.forest.RandomForestClassifier'> is 0.9683921209344938

Confusion Matrix of <class 'sklearn.ensemble.forest.RandomForestClassifier'> is [[1048   48]
 [  21 1066]]

In [159]:
## Therefore, the classifier with the best result is the boosting classifier, xgBoost.

In [162]:
accuracy_score(y_test, model2.predict(X_test))

0.5016032982134677

In [161]:
accuracy_score(y_test, model3.predict(X_test))

0.9560238204306001

In [165]:
dxt = [3656.410156,4436.922852,4176.922852,3668.205078,4132.820313]

In [166]:
model1.predict(dxt)

array([1], dtype=int64)

In [167]:
model4.predict(X_train)

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [168]:
path_test = "../../data/sad_2_26.12.19_11.15.26.md.bp.csv"
data_Test = pd.read_csv(path_test)

In [169]:
end_test = len(data_Test.iloc[:,1])

In [170]:
X_new_sample_Test = np.array(data_Test.iloc[:,3:8])

In [171]:
results = model1.predict(X_new_sample_Test)[:len(y0)]

In [172]:
results

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [173]:
print(accuracy_score(y1, results))

0.004949133901567226

In [175]:
print(accuracy_score(y0, results))

0.9950508660984327

In [176]:
path_test_sample = "../../data/test_sample_1_26.12.19_11.56.29.md.bp.csv"
data_Happy = pd.read_csv(path_test_sample)
end_Happy = len(data_Happy.iloc[:,1])
X_happy_sample_test = np.array(data_Happy.iloc[:,3:8])
results_happy = model1.predict(X_happy_sample_test)[:len(y0)]

In [178]:
print(accuracy_score(y0, results_happy))

0.23288424525708

In [179]:
print(accuracy_score(y1, results_happy))

0.76711575474292

In [180]:
path_test_sample_LOVE = "../../data/8-Love/love_i.csv"
data_LOVE = pd.read_csv(path_test_sample_LOVE)
end_LOVE = len(data_LOVE.iloc[:,1])
X_LOVE_sample_test = np.array(data_LOVE.iloc[:,3:8])
results_LOVE = model1.predict(X_LOVE_sample_test)[:len(y0)]

In [182]:
print(accuracy_score(y0,results_LOVE))
print(accuracy_score(y1,results_LOVE))

0.006873797085510036
0.9931262029144899

In [190]:
fk = model1.predict(np.array(data_Test.iloc[:,3:8]))
print(accuracy_score(y0, fk[:len(y1)]))

0.9950508660984327

In [137]:
X_LOVE_sample_test[0]

array([3638.461426, 4454.871582, 4190.769043, 3653.333252, 4160.512695])

In [138]:
X0[0]

array([4359.487305, 4240.512695, 4826.153809, 4475.384766, 4537.94873 ])

In [139]:
model1.predict(dxt)

array([0], dtype=int64)

In [192]:
### Neutral Mode setup

In [193]:
n1 = "../../data/6-Neutral/1.csv"
n2 = "../../data/6-Neutral/2.csv"
n3 = "../../data/6-Neutral/3.csv"
n4 = "../../data/6-Neutral/4.csv"

In [194]:
dn1 = pd.read_csv(n1)
dn2 = pd.read_csv(n2)
dn3 = pd.read_csv(n3)
dn4 = pd.read_csv(n4)

In [195]:
end_dn1 = len(dn1.iloc[:,1])
end_dn2 = len(dn1.iloc[:,2])
end_dn3 = len(dn1.iloc[:,3])
end_dn4 = len(dn1.iloc[:,4])

In [196]:
X_n1 = np.array(dn1.iloc[:,3:8])
X_n2 = np.array(dn2.iloc[:,3:8])
X_n3 = np.array(dn3.iloc[:,3:8])
X_n4 = np.array(dn4.iloc[:,3:8])

In [217]:
res_Xn1 = model1.predict(X_n1)[:3300]
res_Xn2 = model1.predict(X_n2)[:3300]
res_Xn3 = model1.predict(X_n3)[:3300]
res_Xn4 = model1.predict(X_n4)[:3300]

In [218]:
print(accuracy_score(y0[:len(res_Xn1)], res_Xn1))

0.12545454545454546

In [219]:
print(accuracy_score(y0[:3300], res_Xn2))

0.03666666666666667

In [220]:
print(accuracy_score(y0[:3300], res_Xn3))

0.5787878787878787

In [221]:
print(accuracy_score(y0[:3300], res_Xn4))

0.031212121212121212

In [224]:
print(accuracy_score(y0[:3300], results_LOVE[:3300]))

0.006666666666666667

In [226]:
neutral_Y = np.arange(0, 3300, 1)

In [227]:
neutral_Y

array([   0,    1,    2, ..., 3297, 3298, 3299])